<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
</head>
<h1>Grace Hopper</h1>
<body>
    <img src="img/download.jpg" alt="">
<h2>Información general</h2>
<h3>Famosa por popularizar el término bug como un error de software, es también una de las personas que más ha contribuido al desarrollo de las ciencias informáticas modernas.</h3>
<p>Grace Murray Hopper, nació en Nueva York en el año 1906, dentro de una familia con arraigada tradición militar. Su bisabuelo, Alexander Russell, un famoso almirante de la Armada de los Estados Unidos, fue el héroe y modelo a seguir para la joven Grace, aunque no fue su única fuente de inspiración. Su padre, Walter Fletcher Murray, y su abuelo paterno, eran corredores de seguros, una profesión para la que por aquel entonces, sin calculadoras ni ordenadores, era necesario poseer una buena base matemática. Mary Campbell Van Horne Murray, esposa de Walter y madre de Grace, también era una gran apasionada de la materia y, pese a ser ama de casa, se instruyó todo lo que pudo por su cuenta en una época en la que no estaba bien visto que una joven tuviera interés por las matemáticas, más allá de las finanzas domésticas.

        Desde una edad muy temprana, Grace también mostró grandes aptitudes para las ciencias en general, que sus progenitores alentaron sin límites. A los siete años desmontó todos los relojes de su casa, a fin de descubrir cómo funcionaban. Desafortunadamente fue incapaz de volver a reconstruirlos, para disgusto de su madre.</p>
</body>
</html>