<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<h1>Ada Lovelace: la primera programadora</h1>
<h2>La matemática británica Ada Lovelace, la única hija legítima de lord Byron, se adelantó a su tiempo al desarrollar el primer algoritmo destinado a ser procesado por una máquina.</h2>
<body>
    <img src="img/5f15ef96b7381.jpg" alt="">
    <h3>Información general</h3>
    <p>¿Cuáles fueron las aportaciones de Ada Lovelace? Gracias a su imaginación, a su capacidad para ver más allá de la realidad inmediata, Ada fue capaz de desarrollar varios conceptos que actualmente se consideran visionarios. El más célebre se refiere al funcionamiento de lo que hoy se conoce como algoritmo informático. Ada tomó como ejemplo los números de Bernoulli (una serie infinita que juega un papel importante en la teoría de los números) para describir, por medio de un diagrama, las operaciones que la máquina de Babbage tendría que realizar para calcularlos.

        También explicó cómo se introduciría ese algoritmo en la máquina, y esbozó conceptos informáticos como “bucle” (grupo de instrucciones que se ejecutan varias veces) o “subrutina” (segmento de un programa que puede ser invocado en cualquier momento). Si bien no se puede afirmar que Ada formulara el primer programa informático de la historia (Babbage lo había hecho antes), sí fue la primera que lo publicó.</p>
</body>
</html>